.login-page-bacground {
  display: flex;
  background-color: cornflowerblue;
  height: 100vh;
  width: 100vw;
}
.container-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84%;

  background-color: #fff;
  border-radius: 34px;
  margin: 5.5% auto;
}
.login-zone {
  width: 401px;
  margin: 5% 0 5% 7%;
}
.avatar-svg {
  outline: none;
  width: 100%;

  z-index: 1;
}
